SUPABASE_URL=https://tkgmrzlciysgtrhtcjhw.supabase.co
SUPABASE_SERVICE_ROLE=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRrZ21yemxjaXlzZ3RyaHRjamh3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTkwMDUzNSwiZXhwIjoyMDk1NDc2NTM1fQ.TrBa45j7SLZ9GH-I-oCJLVcvRzoNNCrXomC8-vDEk40

FAUCET_PRIVATE_KEY=
FAUCET_PUBLIC_KEY=
FAUCET_ADDRESS=

TURNSTILE_SECRET=0x4AAAAAADXYq_q6jrsG1thNMBhxQtPWS8I
